<!DOCTYPE html>

<html>
<head>
<title>User SignIn</title>
<link rel="stylesheet" href="static/style2.css">
</head>

<body>
<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(images/img_1.jpg); position: fixed;">
		<div class="overlay"></div>
		
		<div class="gtco-container" >
		<div class="col-md-7 mt-text animate-box heading" data-animate-effect="fadeInUp">
		    <h1 style="text-align: center;">USER LOGIN PAGE</h1>
		</div>
			<div class="row" id="rowcss">
				<div class="col-md-12 col-md-offset-0 text-left">
					

					<div class="row row-mt-15em">
						
						<div class="col-md-4 col-md-push-1 animate-box" data-animate-effect="fadeInRight">
							<div class="form-wrap">
								<div class="tab">
									
									<div class="tab-content">
										<div class="tab-content-inner active" data-content="signup">
											<h3>USER LOGIN</h3>
											<form action="/login" method="post">
												<div class="row form-group">
													<div class="col-md-12 box">
														<label for="email">Email</label>
														<input  name="email" type="email" id="fullname" class="form-control" required>
													</div>
												</div>
												<div class="row form-group">
													<div class="col-md-12 box">
														<label for="psw">Password</label>
														<input name="psw" type="password" id="pass" class="form-control" required>
													</div>
												</div>
										        <!-- <div><span id="errorname" style="color: red"><%= err %></span></div> -->
												<div class="row form-group">
													<div class="col-md-12">
														<input type="submit" class="btn btn-primary btn-block" value="LOGIN">
													</div>
												</div>
											</form>	
										</div>

										
									</div>
								</div>
							</div>
						</div>
					</div>
							
					
				</div>
			</div>
		</div>
	</header>
</body>
</html>